@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt');

.App {
  text-align: center;
  font-family: 'Prompt', sans-serif;
}

body{
  background-color:#468499;
  font-family: 'Prompt', sans-serif;
}

h6, .h6 {
  color: #468499;
  font-family: Arial;
  font-weight: bold !;
  font-size: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

h1.matches{
  text-align: center !important;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
