.slider {
    display: block !important;
    width: 80% !important;
    margin: auto !important;
}

#quiz-form label {
    display: block !important;
    text-align: center !important;
}

#quiz-form h2 {
    text-align: center !important;
    margin: 20px auto !important;
}

h1.matches{
    width: 100% !important;
    text-align: center !important;
  }

div.topResults{
    margin-top: 50px !important;
    padding: 20px !important;
}

#quiz-form{
    width: 960px !important;
}

#quiz-form input[type="radio"] {
    margin-right: 10px !important;
}