.slider {
    display: block;
    width: 80%;
    margin: auto;
}

#quiz-form label {
    display: block;
    text-align: center;
}

#quiz-form h2 {
    text-align: center;
    margin: 20px auto;
}

/* button#quizButton{
    margin-right: auto !important;
    margin-left: auto !important;
} */

#quiz-form{
    width: 960px !important;
}

#quiz-form input[type="radio"] {
    margin-right: 10px;
}