@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt');

#how-container {
    background-color: white !important;
    position:absolute;
    top:25%;
    padding-top: 20px;
    padding-left: 170px;
    padding-right: 170px;
    /* margin: 20px; */
    color: #468499 !important;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 1px 1px #000000; */
    z-index:11;
  }

  p{
    text-align: justify;
    color:black;
  }
  h1.How{
    padding-top: 20px;
    color:#468499;
    font-weight: bold;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
  }

  .questions {
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
  }

li{
  padding: 10px;
}

  h3{
    font-size:20px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
  }



