@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt');

#signUp {
    background-color: white;
    max-width: 525px;
    margin-left:auto;
    margin-right:auto;
    margin-top:240px !important; 
    border-radius: 15px;
    padding: 30px;
    font-family: 'Prompt', sans-serif;
    min-height: 140px;
}

h6.signup{
    color:#468499 !important;
    font-size:25px !important;
    text-align:center;
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Prompt', sans-serif;
}

button#loginButton{
    margin-top: 60px;
    color:#468499 !important;
    font-family: 'Prompt', sans-serif !important;
    float: right;
    border-width: 1px;
    border-color: #468499 !important;
    background:white !important;
}

#signUp input{
    width: 300px;
    float: right;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

signUp label{
    width: 120px;
}

@media only screen and (max-width: 600px) {
    form{
        min-height: 195px !important;
    }
    button#loginButton {
        margin-top: 45px !important;
        }
  }