@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt');

section.navbar-section{
  margin: right;
}

span.text-secondary{
    text-shadow: 1px 1px #000000;
    margin-right: 10px !important;
    color: black !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
  display:inline-block;
}

a.btn.btn-link.text-secondary:hover{
    color:silver !important;
}

  .navbar-trans {
    background-color: rgba(0,0,0,0); }