@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt');

a.nav-link{
    text-shadow: 1px 1px #000000;
    margin-right: 10px !important;
    color: white !important;
    font-weight: bold !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;

}

a.nav-link:hover{
    color:silver !important;
}

  .navbar-trans {
    background-color: rgba(0,0,0,0); }