@import url('https://fonts.googleapis.com/css?family=Prompt');

#content {
    position:absolute;
    z-index:11;
    position: fixed;
    top: 160px;
    margin: auto;
    background:transparent;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  button{
      border-radius: 20px !important;
      background: transparent !important;
      /* font-weight: bold !important; */
      font-size: 20px !important;
      padding: 10px;
      color: white !important;
      border-color:white !important;
      border-width: 1px !important;
      font-family: 'Prompt', sans-serif !important;
  }